<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922990542139-s5d4r4svbitk4npr15oom36sritn513d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922990542139-s5d4r4svbitk4npr15oom36sritn513d</string>
	<key>API_KEY</key>
	<string>AIzaSyC6j2zWm-YJNNaobjH77R6Fer5smViwhB0</string>
	<key>GCM_SENDER_ID</key>
	<string>922990542139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.hbm.chat</string>
	<key>PROJECT_ID</key>
	<string>hbm-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>hbm-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922990542139:ios:e0dbf9ad15abf6a4aa8b1e</string>
</dict>
</plist>